:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
/*font-family: 'Dancing Script', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
*/
body {
  margin: 60px auto;
 /* max-width: 800px;*/
}

h1,
h2,
h3, h4 {
  text-align: center;
  margin: 0;
}

.intro h1 {
  font-size: 96px;
  font-family: 'Playfair Display', serif;
}

h2 {
  font-size: 48px;
  
}

.intro h3, .content-section h3 {
  font-size: 24px;
  opacity: 0.7;
  font-family: 'Poppins', sans-serif;
}

.hero-content p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

/* .about-paragraphs {
  display: flex;
  margin: 30px 0;
} */

/* .about-section p {
  margin: 10px;
} */
.content-section {
  padding: 160px 20px;
}
.content-section h1{
  font-size: 64px;
  line-height: 80px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.intro {
  margin-top: 100px;
}

.app-link {
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  border-radius: 3px;
  padding: 15px 20px;
}

.btn-branding {
  background: var(--primary-color);
  color: white;
  padding: 10px 30px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;

}

.content-section img {
  width: 460px;
  height: 460px;
  border-radius: 10px;
}

.contact-container{
  width: 80%;
  padding: 50px 20px;
  margin: 50px auto;
  /* font-family: 'Poppins', sans-serif; */
  
}

.contact-box{
  display: flex;
}

.contact-left{
  flex-basis: 60%;
  padding: 10px 40px;
  /* border: 1px solid red; */
}

.contact-right{
  flex-basis: 40%;
  padding: 10px;
  background: var(--primary-color) ;
  color: var(--secondary-color);
}
.input-group{
  justify-content: space-between;
  margin-bottom: 20px;
  
}
.input-group .input-item{
  flex-basis: 45%;

}
input{
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
}
textarea{
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  padding: 10px;
}
label{
  margin-bottom: 4px;
  color: var(--primary-color);
}
.contact-left h3{
  color: var(--primary-color);
  
}
.contact-btn{
  width: 100px;
  border: none;
  outline: none;
  background: var(--primary-color) ;
  color: #fff;
  border-radius: 30px;
  padding: 5px;
  font-size: 20px;
  margin-top: 5px;
}

.social-icons{
  
  font-size: 36px;
}


/*  */

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }

  h2 {
    font-size: 44px;
  }

  .content-section {
    padding: 80px 20px;
  }
  .contact-box{
    display: flex;
    flex-direction: column;
  }
}

